<mat-card class="custom-card">
    <mat-card-content class="centered-text">

        <div *ngIf="loggedIn">
            <button mat-stroked-button (click)="logout()"><b>{{ ( this.username ).toUpperCase() }}</b></button>
            <mat-card-title style="font-size: 20pt; font-weight: bold; margin: auto;" class="centered-text">Termina
                Collaborazione</mat-card-title>
            <mat-card-title style="font-size: 14pt; font-weight: bold; margin: auto;"
                class="centered-text">Implementazione
                frontend Codedonkey</mat-card-title>
            <app-valutazione [rating]="3.5"></app-valutazione>
            <mat-form-field>
                <mat-label>Commento</mat-label>
                <textarea matInput placeholder="Descrizione" rows="2"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" style="display: flex;">Invia</button>
        </div>
        <div *ngIf="!loggedIn">
            <p>Per fare una proposta di lavoro
                <button mat-stroked-button routerLink="/login"><b>{{ ('accedi') }}</b></button> o
                <button mat-button routerLink="/registrazione"><b>{{ ('registrati') }}</b></button>
            </p>
        </div>
    </mat-card-content>
</mat-card>