<p>api call to /api/getappname</p>

<button mat-raised-button (click)="getAppName()">Get App Name</button>

<p>api call to /api/showpassword?username=&lt;string&gt;</p>


<mat-form-field class="example-full-width">
    <mat-label>User</mat-label>
    <input matInput id="usernameInput" (keydown.enter)="searchUsername()" placeholder="Ex. user1" value="">
</mat-form-field>


<mat-card style="width: 200px">
  <mat-card-content id="passwordCard"></mat-card-content>
</mat-card>


<button mat-raised-button (click)="showQr()">Visualizza qr code</button>