<app-devcard firstName="Mario" lastName="Rossi" imageUrl="assets/img/1.png" description="Sono un programmatore molto attento alla qualità del codice, alla scalabilità ed alla affidabilità" [valutazione]="2" [items]="['java', 'python', 'c++', 'x86 assembly', 'javascript', 'typescript']"/>

<div style="height: 48px"> </div>

<app-devcard firstName="Rita" lastName="Bianchi" imageUrl="assets/img/2.jpg" description="Costo poco" [valutazione]="4" [items]="['kotlin', 'python', 'c#', 'x86 assembly', 'javascript', 'typescript']" />

<div style="height: 48px"> </div>

<app-devcard firstName="Giuseppe" lastName="Verdi" imageUrl="assets/img/3.jpg" description="There is no place like ~" [valutazione]="3" [items]="['docker', 'rust', 'go', 'typescript']"/>


<div style="height: 48px"> </div>

<app-devcard firstName="Ugo" lastName="Neri" imageUrl="assets/img/4.jpg" description="Mi sono iscritto a Codemonkey per cercare avventura, persone entusiasmanti, il dialogo tra chi crea il software e chi lo rende veramente grande" [valutazione]="1" [items]="['brainfuck']"/>

