<mat-card class="custom-card">
    <mat-card-content class="centered-text">
        <mat-card-title style="font-size: 20pt; font-weight: bold; margin: auto;" class="centered-text">Termina
            Collaborazione</mat-card-title>
        <mat-card-title style="font-size: 14pt; font-weight: bold; margin: auto;" class="centered-text">Implementazione
            frontend Codedonkey</mat-card-title>
        <app-valutazione [rating]="3.5"></app-valutazione>
        <mat-form-field>
            <mat-label>Commento</mat-label>
            <textarea matInput placeholder="Descrizione" rows="2"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" style="display: flex;">Invia</button>
    </mat-card-content>
</mat-card>