.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.element-1 {
    flex-grow: 1;
}

.element-2 {
    flex-grow: 2;
}
