<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<mat-toolbar>

  <!-- align to left-->

  <h1>
    {{title}}
  </h1>

  <!-- align to right-->

  <app-theme-switcher></app-theme-switcher>

</mat-toolbar>

<div class="container">

  <div>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget</p>
    <p>tincidunt luctus, nisl nisl aliquet nisl, eget aliquet nisl nisl sit amet</p>
    <p>ligula. Nullam auctor, nisl eget tincidunt luctus, nisl nisl aliquet nisl,</p>
  </div>
</div>

<router-outlet></router-outlet>