@import "@angular/material/theming";
@import "app/variables";

@include mat-core();

$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);

  background-color: #333;
  color: whitesmoke;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
