<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
  .example-spacer {
    flex: 1 1 auto;
  }

  .title {
    font-size: 1.5em;
    margin: 0 0 0 0;
  }
</style>

<div class="theme-transition" [class.light-theme]="!isDark" [class.dark-theme]="!isDark">
<mat-toolbar color="accent">

  <img src="favicon.ico" height="100%" alt="logo"
    style="margin-right: 10px; margin-left: 10px; margin-top: 5px; margin-bottom: 5px;" routerLink="/"/>

  <!-- align title to left-->

  <h1 class="title">
    {{title}}
  </h1>

  <button mat-button routerLink="/page1">1</button>
  <button mat-button routerLink="/page2">2</button>

  <!-- align to right-->
  <span class="example-spacer"></span>

  <app-theme-switcher></app-theme-switcher>

</mat-toolbar>

<router-outlet></router-outlet>
</div>
