<style>
    .scroll-container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    .scroll-item {
        margin-right: 8px;
    }

    .custom-link {
        text-decoration: none;
        color: inherit;
    }

    .custom-link:hover {
        text-decoration: underline;
    }

    .profile-fab {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 16px;
        margin-bottom: 16px;
        z-index: 100;
    }
</style>

<div style="overflow-y: hidden;">

    <mat-toolbar color="primary"
        style="position: fixed; top: 64px; left: 0; right: 0; z-index:90; height: 360px; display: flex; justify-content: center; align-items: center; flex-direction: column">

        <div style="display: flex; height: calc(360px - 56px - 64px - 64px - 8px); padding:64px">
            <img #profilePicLargeRef mat-card-image src="" alt="Immagine di profilo"
                style="height: 192px; border-radius: 50%; display:flex">

            <span style="width: 80px; display:flex"></span>

            <div *ngIf="this.user">
                <div style="width: 40%">
                    <p style="font-size: 40pt; font-weight: bold; margin: auto;">@{{this.user.username}}</p>
                    <!-- <p style="margin:auto;">@{{this.user.username}}</p> -->
                    <span style="margin:24px;"></span>
                    <div *ngIf="this.hasRating">
                        <app-valutazione [rating]="3.5"></app-valutazione>
                    </div>
                    <div>
                        {{this.user.bio}}
                    </div>
                </div>

            </div>

            <span style="width: 64px; display:flex"> </span>

            <div style="display:flex;flex-direction:column; align-items:center; justify-content: space-between">

                <button mat-raised-button>
                    <mat-icon>email</mat-icon>
                    Contatta
                </button>

                <button mat-raised-button>
                    <mat-icon>supervised_user_circle</mat-icon>
                    Proponi
                </button>

                <button mat-raised-button color="warn">
                    <mat-icon>error</mat-icon>
                    Segnala
                </button>

            </div>
        </div>

        <div style="display: flex ; align-items: center">
            <mat-form-field style="margin-bottom: -1.25em; display: flex; align-items: center ; width: 400px;">
                <mat-label>Technologies</mat-label>
                <mat-select [(value)]="selectedTechnologies" (closed)="onTechnologyUpdate()" multiple>
                    <mat-option *ngFor="let technology of technologies"
                        [value]="technology">{{technology.name.toUpperCase()}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-toolbar>


    <div id="scroll-container" style="margin-top: 360px; max-height: calc(100vh - 360px - 64px); overflow-y: auto;">
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; align-items: center;">

                <!-- <app-image-uploader [endpoint]="'/api/uploads'"></app-image-uploader> -->

                <div style="height: 48px"> </div>

                <div *ngFor="let item of this.cards" class="scroll-item">

                    <app-project-card [project]="item"></app-project-card>

                    <div style="height: 48px"> </div>
                </div>

                <div *ngIf="this.moreToLoad">
                    <button mat-raised-button color="primary" (click)="feed()">Carica ancora</button>
                </div>

                <div *ngIf="!this.moreToLoad">
                    <p>Hai visto tutto!</p>
                </div>

            </div>
        </div>
    </div>
</div>